<head>
    <meta charset="utf-8" />
    <title>dinnerdash - cadastro</title>
</head>

<div class="screen">
    <%= render  "layouts/imgRegisSessions" %>

    <div class="boxRight">
        <div class="boxRightInner mx-auto">
            <% if resource.errors.any? then m=3 else m=5 end %>
            <%= link_to  "dinnerdash", root_path, class: "title mb-#{m}" %>

            <% resource.errors.full_messages.each do |msg| %>
                <span class="mb-2 text-danger align-self-start"><%= msg %></span>
            <% end %>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'w-100', :novalidate => 'novalidate'} ) do |f| %>

              <div class="field form-group">                                
                  <%= label_tag :name, "Nome", class: 'formText' %>
                  <%= f.text_field :name, 
                                    placeholder: "Digite seu belo nome aqui ;)",
                                    autofocus: true, 
                                    autocomplete: "name", 
                                    id: "name", 
                                    class: "form-control" %>
              </div>

              <div class="field form-group">
                <%= f.label :email, class: 'formText' %>
                <%= f.email_field :email, 
                                  placeholder: "example@website.com",
                                  autocomplete: "email",
                                  id: "signup_email", 
                                  class: "form-control" %>
              </div>

              <div class="field form-group">
                <%= label_tag :password, "Senha", class: 'formText' %>
                <%= f.password_field :password, 
                                      placeholder: "Sua senha",
                                      autocomplete: "new-password",
                                      id: "signup_password", 
                                      class: "form-control" %>
                <% if @minimum_password_length %>
                <small class="text-secondary"><%= @minimum_password_length %> caracteres no mínimo</small>
                <% end %><br />
              </div>

              <div class="field form-group">
                <%= label_tag :password_confirmation, "Confirmar Senha", class: 'formText' %>
                <%= f.password_field :password_confirmation, 
                                      placeholder: "Confirme sua senha",
                                      autocomplete: "new-password",
                                      id: "signup_new_password", 
                                      class: "form-control" %>
              </div>

              <div class="actions">
                <%= f.submit "Cadastrar", class: "btn btn-success w-100 mt-1 mb-4 p-2" %>
              </div>
            <% end %>

            <p class="hasAccount align-self-start w-100 pt-4">Já possui conta?</p>
            <%= render "devise/shared/links" %> 
        </div>
    </div>
</div>