<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<h3>Atualizar usuário</h3>
<%= form_with model: @user do |form| %>
  <%= form.text_field :name, placeholder: "Digite seu novo nome" %>
  <%= form.text_field :email, placeholder: "Digite seu novo e-mail" %>
  <%= form.text_field :password, placeholder: "Sua nova senha" %>
  <%= form.text_field :password, placeholder: "Confirme sua nova senha" %>

  <%= form.submit %>
<% end %>