<head>
    <meta charset="utf-8" />
    <title>dinnerdash - cadastro</title>
</head>

<div class="screen">
    <div class="boxLeft">
        <%= image_tag("sabri-tuzcu-365440.jpg", alt: "OMG! Não acredito que a imagem não carregou! :´(", class: 'imgFront')  %>
    </div>

    <div class="boxRight">
        <div class="boxRightInner">
            <h1 class="title">dinnerdash</h1>

            <%= form_with model: @user do |form| %>
                <p class="formText">Nome</p>
                <%= form.text_field :name, placeholder: "Digite seu belo nome aqui ;)" %>

                <p class="formText">E-mail</p>
                <%= form.text_field :email, placeholder: "Digite seu e-mail" %>

                <p class="formText">Senha</p>
                <%= form.password_field :password, placeholder: "Sua senha" %>

                <p class="formText">Confirme sua senha</p>
                <%= form.password_field :password, placeholder: "Confirme sua senha" %>
                
                <%= form.submit "cadastrar"%>
            <% end %>

            <p class="hasAccount">Já possui conta?</p>
            <a href="" class="signInButton">fazer login</a> <!-- Sera modificado --> 
        </div>
    </div>
</div>