<div class="bannerHome text-white">
    <div class="h-100 container d-flex flex-column justify-content-between">
        <%= render  "layouts/logo" %>

        <div class="mb-4">
            <h1 class="h1_title">Monte seu prato</h1>
            <h3 class="h3_title">Escolha salada, molho, prato principal, guarnição e bebida</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="firstRow">
        <h3>Refeições metállicas \m/</h3>
        <%= query_meals("Metállica").in_groups_of(4, false).each do |group| %> <!-- Seleciona apenas as refeicoes metallicas e mostra apenas 4/linha -->
            
            <div class="d-flex flex-column align-itens-center">
                <div class="d-flex justify-content-start w-100 mt-4">                        
                    <%= group.each do |item| %>
                        <div class="card mr-3" style="width: 18rem;">

                                <div class="position-relative"> <!-- Necessario para o nome ficar no lugar -->
                                    <%= image_tag url_for(item.image), class: "card-image-top imgRefeicoes" %>
                                    <div class="position-absolute fixed-bottom nameRefeicoes">
                                        <%= item.name %>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="card-text text-secondary">
                                        <%= item.description %>
                                    </div>

                                    <div class="card-text text-success my-2">
                                        <span>R$ <%= number_with_precision(item.price, precision: 2,
                                                                            separator: ',', delimiter: '.') %>
                                                por porção</span>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <%= button_to 'adcionar ao meu prato', edit_meal_path(item), method: 'get',
                                            class: 'btn btn-success btn-small text-white px-4' %>
                                    </div>
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>