<%= render 'layouts/banner' %>

<% if alert %>
    <div class="container">
        <% alert.each do |msg| %>
            <label class="m-0 mt-4 alert alert-danger align-self-start"><%= msg %></label>
        <% end %>
    </div>
<% end %>

<div class="container">
    <h3 class="h3_edit_category text-muted mt-4">Editar refeição</h3>
    <hr>
    
    <%= form_with(model: @meal, local: true, class: "text-secondary mb-5") do |form| %>
    

        <div class="d-flex">
            <div class="form-group w-50">
                <%= label_tag :name, "Nome" %>
                <%= form.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group w-50 ml-2">
                <%= label_tag :meal_category_id, "Categoria" %>
                <% options = options_from_collection_for_select(@meal_categories, 'id', 'name', :selected => form.object.meal_category_id) %>
                <%= form.select :meal_category_id,  options, {}, {class: "form-control"} %>
            </div>
        </div>

        <%= label_tag :description, "Descrição" %>
        <%= form.text_area :description, class: "form-control w-100", rows: 3 %>

        <div class="d-flex mt-3">
            <div class="form-group w-50">
                <%= label_tag :price, "Preço" %>
                <%= form.text_field :price, class: "form-control" %>
            </div>
            <div class="form-group w-50 ml-2">
                <%= label_tag :image, "Foto" %>
                <div class="input-group">
                    <div class="custom-file">
                        <%= form.file_field :image, class: "custom-file-input" %>
                        <label class="custom-file-label" for="inputGroupFile01">Escolher arquivo...</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-control custom-checkbox row mb-3">
            <%= form.check_box :available, {}, "true", "false" %>
            <%= label_tag :available, "Refeição disponível no cardápio" %>
        </div>
        
        <%= form.submit "Editar refeição", class: "btn btn-success px-4" %>
        <%= link_to  "Voltar", meals_path, class: "btn btn-secondary px-5 ml-3" %>

    <% end %>
</div>

<%= render 'layouts/footer' %>
