<%= render 'layouts/banner' %>

<div class="container">
    <h3 class="h3_edit_category text-muted mt-4">Nova refeição</h3>
    <hr>
    
    <%= form_with model: @meal, class: "text-secondary mb-5" do |form| %>

        <div class="d-flex">
            <div class="form-group w-50">
                <%= form.label :nome %>
                <%= form.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group w-50 ml-2">
                <%= form.label :categoria %>
                <% options = options_from_collection_for_select(@meal_categories, 'id', 'name') %>
                <%= form.select :meal_category_id,  options, {}, {class: "form-control"} %>
            </div>
        </div>

        <%= form.label :descrição %>
        <%= form.text_area :description, class: "form-control w-100", rows: 3 %>

        <div class="d-flex mt-3">
            <div class="form-group w-50">
                <%= form.label :preço %>
                <%= form.text_field :price, class: "form-control" %>
            </div>
            <div class="form-group w-50 ml-2">
                <%= form.label :foto %>
                <div class="input-group">
                    <div class="custom-file">
                        <%= form.file_field :image, class: "custom-file-input" %>
                        <label class="custom-file-label" for="inputGroupFile01">Escolher arquivo...</label>
                    </div>
                </div>
            </div>
        </div>
        
        <%= form.submit "Criar refeição", class: "btn btn-success px-4" %>
        <%= link_to  "Voltar", meals_path, class: "btn btn-secondary px-5 ml-3" %>

    <% end %>
</div>

<%= render 'layouts/footer' %>
