<head>
    <style type="text/css">
        .bannerbackoff {
            background-image: url("backofficebanner.jpg");
            background-color: #CCCCCC;
            background-blend-mode: multiply;
            background-size: cover;
            background-repeat: no-repeat;
            
            width: 100%;
            height: 55vh;
        }

        .h1_title {
            font-size: 4em;
        }

        .h3_title {
            font-size: 1.7em;
        }

        .navbarbackoff a {
            font-size: 1.2em;
            color: #B0B0B0;
        }

        .navbarbackoff a:hover {
            text-decoration: none;
            color: white;
        }
    </style>
</head>

<!--=============================================END_STYLES=============================================-->

<div class="bannerbackoff text-white">
    <div class="h-100 container d-flex flex-column justify-content-between">
        <%= render  "layouts/logo" %>
        
        <div class="mb-4">
            <h1 class="h1_title">Backoffice</h1>
            <h3 class="h3_title">Gerencie pedidos, refeições e mais</h3>
        </div>
    </div>
</div>

<div class="navbarbackoff bg-dark">
    <div class="container py-2">
        <%= link_to "Pedidos", meals_path %>
        <%= link_to "Usuários", users_all_path, class: "ml-4" %>
        <%= link_to "Refeições", meals_path, :class => current_class?(meals_path), class: "ml-4" %>
        <%= link_to "Categorias de Refeição", meal_categories_path, class: "ml-4" %>
    </div>
</div>
