<head>
    <%= stylesheet_link_tag "cart_partial" %>
</head>


<% @items.in_groups_of(2, false).each do |group| %>
    
    <div class="mb-3 w-100 d-flex justify-content-between">
        <% group.each do |meal| %>

            <div class="<%= '' if group.last == meal %> w-50 d-flex justify-content-between">
                <div class="d-flex">
                    <%= image_tag url_for(meal.image_attachment_path), class: "imageMealCart" %>

                    <div class="ml-2 d-flex flex-column justify-content-between">
                        <h5 class="text-dark"><%= meal.name %></h5>
                        
                        <div class="text-secondary">
                            <!-- <p class="m-0">Quantidade: 2</p> -->
                            <p class="m-0">Preço unitário: R$ <%= number_with_precision(meal.price, 
                                                                                        precision: 2, 
                                                                                        separator: ',', 
                                                                                        delimiter: '.' )%></p>
                            <!-- <p class="m-0">Preço total: X</p> -->
                        </div>
                    </div>
                </div>

                <div class="text-secondary mr-3 d-flex flex-column justify-content-end">
                    <!-- <label>Quantidade</label> -->

                    <%= link_to  "remover pedido", remove_item_path(id: meal.id, anchor: "cart"), method: :put, class: "px-4 btn btn-outline-danger" %>
                </div>
            </div>

        <% end %>
    </div>

<% end %>
