<head>
    <%= stylesheet_link_tag "logo" %>
</head>

<div class="logoD navbar container d-flex align-items-center text-white">
    <%= link_to  "dinnerdash", root_path(), class: "h1_logo" %>
    
    <div class="ml-auto d-flex justify-content-around">
        <% if current_user.admin %>
            <%= link_to  "backoffice", meals_path, class: "text-warning font-weight-bold" %>
        <% end %>
        <%= link_to  "perfil", users_perfil_path %>
        <%= link_to  "Sair", destroy_user_session_path, method: :delete %>
    </div>
</div>