<!DOCTYPE html>
<html>
  <head>
    <title>Dinnerdash</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice %>
    <p class="notice"><%= notice %></p> <!-- Shows Devise Notices only when something happens -->
    <% end %>
    <% if alert %>
    <p class="alert"><%= alert %></p> <!-- Shows Devise Alerts only when something happens -->
    <% end %>

    <%= yield %>
  </body>
</html>
